---
export interface Props {
  title?: string | { content: string; url: string };
}

const { title } = Astro.props;

import { BLOG_PATH } from "src/config";

const navLinks = [
  { name: "Home", path: "/" },
  { name: "Work", path: "/#work" },
  { name: "Writing", path: BLOG_PATH },
];
---

<header>
  <nav
    class:list={[
      "mx-12 my-8 flex flex-col-reverse gap-2 md:flex-row md:gap-0",
      {
        "justify-end": title === undefined,
        "justify-between": title !== undefined,
      },
    ]}
  >
    {
      title &&
        (typeof title === "string" ? (
          <p class="mx-auto text-xl text-neutral-600 md:mx-0 md:text-lg dark:text-neutral-400">
            {title}
          </p>
        ) : (
          <a
            class="mx-auto text-xl text-neutral-600 md:mx-0 md:text-lg dark:text-neutral-400"
            href={title.url}
          >
            {title.content}
          </a>
        ))
    }
    <ul class="flex justify-center space-x-4">
      {
        navLinks.map(({ name, path }) => (
          <li>
            <a
              class="text-lg text-neutral-600 hover:underline hover:decoration-2 dark:text-neutral-400"
              href={path}
            >
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
