---
export interface Props {
  title?: string | { content: string; url: string };
}

const { title } = Astro.props;

const navLinks = [
  { name: "Home", path: "/" },
  { name: "Work", path: "/#work" },
  { name: "Blog", path: "/blog" },
];
---

<header>
  <nav
    class:list={[
      "mx-12 my-8 space-y-2 md:space-y-0 flex flex-col md:flex-row",
      {
        "justify-end": title === undefined,
        "justify-between": title !== undefined,
      },
    ]}
  >
    {
      title &&
        (typeof title === "string" ? (
          <p class="mx-auto text-xl text-neutral-600 dark:text-neutral-400 md:mx-0 md:text-lg">
            {title}
          </p>
        ) : (
          <a
            class="mx-auto text-xl text-neutral-600 dark:text-neutral-400 md:mx-0 md:text-lg"
            href={title.url}
          >
            {title.content}
          </a>
        ))
    }
    <ul class="flex justify-center space-x-4">
      {
        navLinks.map(({ name, path }) => (
          <li>
            <a
              class="text-lg text-neutral-600 hover:underline hover:decoration-2 dark:text-neutral-400"
              href={path}
            >
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
